.register_page {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0; 
    
}

.register_container {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 20px;
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
}


.left_container_register{
    grid-column: span 6;
    padding: 40px 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;

}

.logo_register_con{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}
.logo_register_con img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.title_register{
    font-size: 40px;
    font-weight: 800;
}

.form_field{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.input_group_register{
    position: relative;
    width: 100%;
    display: flex;

}
.input_info_register{
    width: 100%;
    text-align: start;
    border: 1.2px solid black;
    font-size: 16px;
    color: black;
    padding: 10px 15px;
    outline: none;
    border-radius: 10px;
}
.input_group_register label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #4a4a4a;
    padding: 0 10px;
    pointer-events: none;
    transition: .5s;
}

.input_group_register input:focus~label,
.input_group_register input:valid~label {
    top: 0;
    font-size: 14px;
    font-weight: 600;
    background: white;
}

.btn_register{
    margin: 0;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgb(107, 103, 103);
    background: black;
    color: white;
    padding: 15px;
}
.btn_register:hover{
    background: rgb(57, 57, 57);
    color: white;
}

.social_register{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.social_icons_register{
    display: flex;
    gap: 20px;
}
.icon_social_register{
    background: rgb(255, 255, 255);
    font-size: 40px;
    padding: 8px;
    border-radius: 100%;
    color: black;
    background-size: cover;
    box-shadow: 1px 1px 2px gray;
    transition: .5s;

}
.icon_social_register:hover{
    background: black;
    color: white;
}
.text_register{
    margin-top: 40px;
}
.right_container_register{
    grid-column: span 6;
    background-image: url('../../../public/img/bg_login.jpg');
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.content_right_container_register{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.right_container_register h1 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 1px #ffffff,
               1px 1px 40px #ffffff;
}
.right_container_register p{
    font-size: 16px;
    text-align: center;
    color: white;
}
.btn_login_page_register{
    width: 100%;
    background: transparent;
    border: 1.5px solid white;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgb(255, 255, 255);
    padding: 15px;
}
.btn_login_page_register:hover{
    background: white;
    color: black;
}
