.modal-overlay_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
}

.wallet-login_modal {
    background-color: white;
    border-radius: 12px;
    width: 90%;
    max-width: 550px;
    height: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;

}

.close_modal {
    display: flex;
    justify-content: end;
}

.wallet-login_modal h2{
    color: black;
    font-size: 26px;
    font-weight: 800;
    padding-left: 20px;
    text-align: center;
}
.close-btn_modal {
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    color: black;
    font-weight: 800;
    background: transparent;
    padding: 10px 20px;
    
}

.close-btn_modal:hover {
    color: #333;
}

.login-options_modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 20px 50px;
}

.wallet-option_modal_paraswap,
.wallet-option_modal_coinbase,
.wallet-option_modal_walletconnect,
.wallet-option_modal_trust,
.wallet-option_modal_metamask,
.wallet-option_modal {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0;
}


.wallet-option_modal_paraswap p,
.wallet-option_modal_coinbase p,
.wallet-option_modal_walletconnect p,
.wallet-option_modal_trust p,
.wallet-option_modal_metamask p{
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.wallet-option_modal_metamask {
      background: linear-gradient(135deg, #ffd901, #ff0101); 
}

.wallet-option_modal_trust{
    background: linear-gradient(135deg, #009dff, #f40982); 
}
.wallet-option_modal_walletconnect{
    background: linear-gradient(135deg, #ff06c9, #770315); 
}
.wallet-option_modal_coinbase{
background: linear-gradient(135deg, #088edb, #c50821); 
}
.wallet-option_modal_paraswap{
background: linear-gradient(135deg, #080bcf, #0cbaa3); 
}

.wallet-option_modal:hover {
    background-color: #161616;
}

.icon_modal {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    object-fit: cover;
    background: transparent;
}
.wallet-option_modal p{
    font-size: 16px ;
    color: white;
}


.connect-wallet-btn_modal {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
}

.connect-wallet-btn_modal:hover {
    background-color: #218838; 
    margin: auto 0;
}


@media (max-width: 500px) {
    .wallet-login_modal {
        width: 90%;
        padding: 15px;
    }
}
