.HomePage {
  width: 100%;
}

.HomePageContainer {
  width: 100%;
  display: flex;
}

.HomePageSideBar {
  width: 20%;
  background: #2b2b36;
  color: white;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh; 
  overflow-y: auto; 

}

.HomePageSideBar.collapsed {
  width: 5%;
}


.HomePageSideBarItemIcon {
  color: white;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.sidebar_container_homepage {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.item_sidebar_group {
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  align-items: center;
}

.HomePageSideBarItemText p {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.item_sidebar_group{
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.item_sidebar_group:hover {
  background: #3d3d61;
  border-radius: 5px;
}

.logo_web_bars {
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: 80px;
}

.logo_sidebar {
  display: flex;
  gap: 5px;
  align-items: center;
}
.logo_sidebar p{
  font-size: 30px;
  font-weight: 800;
}

.icon_bars_sidebar {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

.bars_sidebar {
  margin-left: auto;
  align-items: center;
}

.HomePageComponent {
  margin-left: 20%; 
  margin-top: 80px;
  width: 80%;
  color: black;
  background: white;
  transition: margin-left 0.3s ease, width 0.3s ease; 
}

.HomePage.collapsed .HomePageComponent {
  margin-left: 5%; 
  width: 95%;
}

.navbar_dashboard {
  width: calc(100% - 20%); 
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 20%;
  transition: left 0.3s ease;
  z-index: 1000; 
  background: black;
}

.HomePage.collapsed .navbar_dashboard {
  left: 5%; 
  width: calc(100% - 5%);
}

.search_input_dashboard {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input_search_dashboard {
  width: 745px;
  margin: 0;
  padding: 15px 20px 15px 45px;
  border-radius: 10px;
  border: none;
  background: #2b2b36;
  color: white;
  outline: none;
}

.icon_search_navbar_dashboard {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 10px;
  font-size: 30px;
}

.feature_user_dashboard {
  display: flex;
  align-items: center;
  gap: 15px;
}

.announcement_dashboard {
  position: relative;
  background: #2b2b36;
  padding: 8px 15px;
  border-radius: 5px;
}

.icon_announcement_navbar_dashboard {
  color: white;
  font-size: 25px;
}

.info_user_dashboard{
  background: #2b2b36;
  padding: 8px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.info_user_dashboard img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-size: cover;
}

