

.HomePage {
  width: 100%;
  color: white;
}

.HomePageContainer {
  width: 100%;
  display: flex;
}

.HomePageSideBar {
  width: 20%;
  background: black;
  transition: width 0.3s ease;
  color: white;
}

.HomePageSideBar.collapsed {
  width: 5%;
}
.HomePageSideBarItemIcon{
  color: white;
}

.sidebar_container_homepage {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.item_sidebar_group {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  align-items: center;

}

.HomePageSideBarItemText p {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.item_sidebar_group:hover {
  background: gray;
  border-radius: 5px;
}

.logo_web_bars {
  display: flex;
  padding: 20px 10px;
  align-items: center;
}

.logo_sidebar {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo_sidebar p {
  font-size: 18px;
  font-weight: 700;
}

.logo_sidebar img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-size: cover;
}

.icon_bars_sidebar {
  font-size: 20px;
  cursor: pointer;
}

.bars_sidebar {
  margin-left: auto;
  align-items: center;
}

.HomePageComponent {
  width: 80%;
  color: black;
  background: white; 
  transition: width 0.3s ease;
}

.HomePage.collapsed .HomePageComponent {
  width: 95%;
}

