.IteamDetailCollectionContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.FilterItem{
    width: 100%;
    background: black;
    display: flex;
    gap: 30px;
    padding: 0 15px;
    margin: 10px 0;
}
.FilterItemLeft{
    width: 8%;
    display: flex;
    gap: 5px;
    background: rgb(58, 121, 193);
    border-radius: 10px;
}
.FilterItemLeft p{
    font-size: 16px;
    font-weight: 600;
}
.FilterItemLeft p:hover{
    color: gray;
}
.FilterItemLeft,
.FilterItemRight{
    padding: 12px 20px;
    align-items: center;
}
.FilterItemRight{
    width: 90%;
    display: flex;
    gap: 35px;
    border-bottom: 2px solid gray;
}
.FilterItemType p{
    font-weight: 600;
    font-size: 16px;
    transition:  .5s ease;
}
.FilterItemType p:hover{
    color: rgb(18, 15, 159);
}






.IteamDetailCollectionBody{
    width: 100%;
    display: flex;
    gap: 10px;
}
.IteamDetailCollectionLeft{
    width: 25%;
    background: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.Price_filter_collection_detail_page{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.min_max_price_filter_collection{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px 0;
}
.input_value_price_min,
.input_value_price_max{
    width: 47%;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
     padding: 10px;
     text-align: start;
}

.input_value_price_min::placeholder,
.input_value_price_max::placeholder{
    text-align: start;
    font-weight: 500;
   
}
.btn_apply_filter_price{
    width: 100%;
    align-items: center;
    text-align: center;
}
.btn_apply_filter_price button{
    width: 100%;
    margin: 0;
    background: transparent;
    border: 1px solid gray;
}

.Item_type_filter_collection_detail_page{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.Price_filter_collection_detail_page h3 ,
.Sort_filter_collection_detail_page h3,
.Item_type_filter_collection_detail_page h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 2px solid gray;
}
.item_type_small_collection{
    width: 100%;
    display: grid;
    gap : 10px;
    grid-template-columns: repeat(6, 1fr);
    margin: 10px 0;
}
.IteamDetailCollectionGrouph {
    grid-column: span 2;
    text-align: center;
    background: rgb(60, 59, 59);
    border-radius: 5px;
    padding: 10px 0;
}
.IteamDetailCollectionGrouph p {
    font-weight: 500;
    color: white;
}


.Sort_filter_collection_detail_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sort_filter_small_collection{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 10px 0;
}




/* item */
.Item_container_right_main {
    padding-right:10px ;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.IteamDetailCollectionRight{
    background: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 15px;
}

.IteamDetailCollectionRightContainer{
   grid-column: span 1;
    background: rgb(25, 23, 38);
    border-radius: 15px;
    height: auto;
}
.detailimg{
    width: 100%;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    
}



.IteamDetailCollectionRightSmallContainer{
    display: flex;
    gap: 10px;
    padding:  20px;
    align-items: center;
     
}
.detailimgsmall{
    width: 40px;
    height: 40px;
    border-radius: 100%;
   
}


.info_user_item_collection_right_small{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.info_user_item_collection_right_small h3 {
    font-size: 16px;
    font-weight: 600;
}

.name_user_small{
    display: flex;
    align-items: center;
    gap: 5px;
}
.name_user_small h4{
    font-size: 17px;
    font-weight: 500;
}
.icon_huyhieu_user_small{
    font-size: 20px;
    color: blue;
    background: white;
    border-radius: 100%;
    border: none;
}

.br {
    border: 1px solid rgb(98, 95, 95);
    margin: 0 30px;
}
.info_collection_small{
    display: flex;
    padding: 20px;
}
.name_date_created_collection_small{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.name_date_created_collection_small h3 {
    font-size: 16px;
    font-weight: 600;
}
.name_date_created_collection_small p {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.heart_view_container{
    align-items: center;
    margin-left: auto;
    
}
.heart_view_collection_small{
    display: flex;
    gap: 5px;
    background: rgb(68, 67, 67);
    align-items: center;
    padding: 2px 5px;
    border-radius: 10px;
}
.price_collection_small{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.price_collection_small p {
    font-size: 15px;
    font-size: 700;
}
.price_collection_small h3 {
    font-size: 16px;
    font-weight: 600;
}

.phan_trang_items_collection{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 20px;
}
.right_phan_trang{
    margin-left: auto;
}