.Subscription_page{
    width: 100%;
}

.subscription_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.subscription_container h2{
    font-size: 50px;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.subscription_about{
    width: 100%;
    display: flex;
    padding: 20px 40px;
    margin-bottom: 10px;

}
.left_subscription_about{
    width: 50%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
.left_subscription_about h4{
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
     background: linear-gradient(45deg, #ff5050, #3002fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left_subscription_about h3{
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.left_subscription_about p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(216, 217, 218);
    padding: 0;
    margin: 0;
}

.detail_left_subscription_about_group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.detail_left_subscription_about_con1,
.detail_left_subscription_about_con{
    display: flex;
    gap: 5px;
    padding: 5px;
    align-items: center;
    
}

.detail_left_subscription_about_con1{
border-top: 1px dashed rgb(124, 161, 195);
border-bottom: 1px dashed rgb(124, 161, 195);   
}
.icon_detail_left_subscription_about_con{
    color: aqua;
}

.right_subscription_about{
    width: 50%;
}


.powerful_feature_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 100px;
    margin-bottom: 20px;
}
.powerful_feature_box h2{
    font-size: 40px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #ff0095, #00d0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.powerful_feature_box h4{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding:0 100px;
    color: rgb(190, 190, 190);
   
    margin-bottom: 30px;
}
.powerful_feature_box_con{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    flex-wrap: wrap;
}

.powerful_feature_card {
    grid-column: span 4;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 0.5px solid rgb(34, 34, 34);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    /* Thiết lập transition cho thuộc tính thay đổi khi hover */
}

.powerful_feature_card:hover {
    transform: translateY(-10px); /* Di chuyển thẻ lên trên khi hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Thêm hiệu ứng bóng */
    background-color: rgb(27, 27, 27); /* Đổi màu nền khi hover */
}

.powerful_feature_card h3{
    font-size: 18px;
    font-weight: 700;
}
.content_feature_powerful_Card{
    color: rgb(194, 192, 192);
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    
}
.icon_feature{
     font-size: 30px; 
    color: #ff00ae;
}


.Subscription_container{
    width: 100%;
    display: flex;
    justify-content: center;
}



.Subscription_box{
    width: 85%;
    display: flex;
    flex-direction: column;
    background: rgb(17, 17, 17);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    
}
.Subscription_box_info{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    
}
.logo_Subscription_box_info{
    padding: 0 20px;
    border-right: 1px solid rgb(43, 43, 43);
}
.logo_Subscription_box_info h2{
    font-size: 50px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}


.des_Subscription_box_info p{
    background: linear-gradient(45deg, #5085ff, #ff00ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Subscription_box_group{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    row-gap: 20px;
    column-gap: 30px;

}

.Subscription_box_box{
    grid-column: span 4;
    background: rgb(22, 22, 22);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: .5px solid rgb(33, 32, 32);
    
}
.Subscription_box_card{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    background: rgb(242, 242, 242);
    border: 1px solid gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Subscription_box_card:hover {
    transform: translateY(-10px) scale(1.05); /* Di chuyển lên và phóng to */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Tăng độ bóng */
}

.Subscription_box_box h3{
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ff00ae;

}
.Subscription_box_card h2{
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: black;
    /* background: #d7dff1; */
    background: rgb(243, 222, 241);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 
.Subscription_box_card ul {
    padding: 10px 40px;

}

.Subscription_box_card li{
    font-size: 16px;
    font-weight: 600;
}
.Subscription_box_card p{
    padding: 0 20px ;
    color: rgb(101, 99, 99);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}