.nfts-container {
  padding: 20px;
  background-color: #121212;
}

.nfts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}
.nfts-header p{
  font-weight: 600;
}

.nfts-controls {
  display: flex;
  align-items: center;
}

select {
  padding: 10px;

  border-radius: 5px;
  background-color: #444444;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select:hover {
  background-color: #333;
}

.nfts-icons .icon {
  font-size: 1.5rem;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nfts-icons .icon:hover {
  transform: scale(1.2);
}

.nfts-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.nfts-gallery-item {
  border-radius: 10px;
  overflow: hidden;
  background: #1e1e1e;
  color: white;
  transition: transform 0.2s ease;
   box-shadow:
      2px 2px 2px rgba(0, 0, 0, 0.2),
      -2px -2px 2px rgba(255, 255, 255, 0.2),
      -2px 2px 2px rgba(0, 0, 0, 0.2),
      2px 2px 2px rgba(255, 255, 255, 0.2);
}

.nfts-gallery-item:hover {
  transform: scale(1.05);
}

.nfts-gallery-item-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.nfts-gallery-item-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p{
  font-size: 14px;
  font-weight: 600;
  color: gray;
}
.nft_price_volume_group,
.nft_rank_collection_group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nfts-gallery-item-rank{
  display: flex;
  gap:5px;
  align-items: center;
}
.nfts-gallery-item-name h4,
.nfts-gallery-item-collection h4,
.nfts-gallery-item-rank h4{
  color: white;
}

.nfts-gallery-item-volume,
.nfts-gallery-item-floorPrice{
  display: flex;
  flex-direction: column;
}


.loading-spinner {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
