*{
  margin: 0;
  padding: 0;
}
body {
  background: rgb(255, 255, 255);
}

body * {
  margin: 0;
  padding: 0;
  border: none;
  
}

.home_page{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.navbar_home_page{
  width: 100%;
}
.body_home_page{
  display: flex;
  width: 100%;
  margin-top: 80px;
  flex-direction: column;
  gap: 2rem;
}
