.IntroduceContainer{
    width: 100%;
    background-color: black;
    display: flex;
    padding: 0 40px;
}
.IntroduceText{
    width: 50%;
    display: flex;
     flex-direction: column;
    background-color: black;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    gap: 30px;

}

.IntroduceText p{
    color: rgb(199, 198, 198);
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
     font-family: "Oswald", sans-serif;

}
.IntroduceText h1 {
    color: white;
    font-size: 45px;
      letter-spacing: 2px;
   font-family: "Lilita One", sans-serif;
    background: linear-gradient(45deg, #e30b86, #0974ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.Introducetext {
    display: flex;
    gap: 15px;
    background: rgb(28, 26, 48);
    padding: 20px;
    border-radius: 10px;
   
    width: 100%;
}
.Introduce_con{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin: 0 auto;
}
.Introduce_con p{
    font-size: 14px;
    font-weight: 600;
    color: white;
}


.IntroduceImg{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.IntroduceImg1 {
    width: 90%;
    object-fit: cover;
    
}

@media screen and (max-width:1215px) {
    .IntroduceText{
        width: 60%;
    }
    .IntroduceImg{
        width: 40%;
    }
    .IntroduceText h1{
        font-size: 34px;
    }
    .IntroduceText p{
        font-size: 14px;
    }
}

@media screen and (max-width:1017px) {
    .IntroduceContainer {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .IntroduceText {
    width: 90%;
    margin: 0 auto;
    }
    .IntroduceImg{
        width: 80%;
        margin: 0 auto;
    }
    .IntroduceImg1{
       width: 100%;
    }
    .IntroduceText h1 {
    font-size: 35px;
    }
    .IntroduceText p {
        font-size: 16px;
    }
    .Introducetext_btn {
        display: flex;
        flex-direction: row;
    }
    .Introducetext {
        width: 60%;
    }
    .button_intro{
        width: 40%;
        justify-content: center;
    }
    button.Introducebutton{
        font-size: 12px;
    }
    .Introduce_con{
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
    }
    .Introduce_con p{
        font-size: 12px;
    }
    .Introducetext {
        padding: 10px 20px;
    }
}

@media screen and (max-width:690px) {
    .IntroduceText {
        gap:20px;
    }
    .Introducetext_btn{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .Introducetext{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .button_intro{
        width: 100%;
       text-align: center;
        
    }
    .Introduce_con {
        width: 25%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .IntroduceText h1{
        font-size: 28px;
    }
    .button_intro{
        width: 100%;
    }
    button.Introducebutton {
        margin: 0 auto;
    }
}

@media screen and ( max-width:565px) {
    
    .IntroduceText{
        width: 95%;
    }
    .IntroduceText h1{
        font-size: 24px;
    }
    .IntroduceText p{
        font-size: 13px;
    }
    .Introduce_con p{
        font-size: 10px;
    }
}