@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.ERC1155-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: auto;
    background: black;
    border-radius: 12px;
    color: #eee;
    max-width: 900px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

.ERC1155-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.ERC1155-logo img {
    max-width: 100%;
    margin-bottom: 25px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.ERC1155-logo img:hover {
    transform: scale(1.05);
}

.ERC1155-content {
    text-align: center;
    margin-bottom: 35px;
}

.ERC1155-content h1 {
    font-size: 2.4rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

.ERC1155-content p {
    font-size: 1.1rem;
    color: #d1d1d1;
    line-height: 1.8;
    max-width: 750px;
}

.ERC1155-subcontent {
    margin-bottom: 40px;
    text-align: left;
    width: 100%;
}

.ERC1155-subcontent h4 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 15px;
}

.ERC1155-subcontent img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.ERC1155-subcontent img:hover {
    transform: scale(1.03);
}

.ERC1155-comparison {
    text-align: left;
    width: 100%;
}

.ERC1155-comparison h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

.ERC1155-comparison h4 {
    font-size: 1.2rem;
    color: #c0c0c0;
    margin-bottom: 15px;
    line-height: 1.8;
}

.ERC1155-comparison img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.ERC1155-comparison img:hover {
    transform: scale(1.03);
}

strong {
    color: #00e676;
}

@media screen and (max-width: 768px) {
    .ERC1155-content h1 {
        font-size: 1.8rem;
    }

    .ERC1155-subcontent h4,
    .ERC1155-comparison h1 {
        font-size: 1.6rem;
    }

    .ERC1155-comparison h4 {
        font-size: 1rem;
    }
}
