.forgotpass_page{
    width: 100%;
    padding: 60px 0; 
}
.forgotpass_container{
    width: 80%;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
     box-shadow: 10px 10px 20px#babecc, -10px -10px 20px #ffffff;
}
.left_forgotpass_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/img/bg_login.jpg');
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
}
.info_user_forgotpass{
    background: rgb(218, 216, 216);
    border-radius: 10px;
    padding: 5px 20px;
}
.info_user_forgotpass img{
    width: 10%;
    border-radius: 100%;
    background-size: cover;
    background: white;
    padding: 5px;
}
.logo_forgotpass_page{
    width: 10%;
    border-radius: 100%;
    background-size: cover;
}

.info_web_forgotpass{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 20px;
    padding: 30px;

}
.dieu_khoan{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dieu_khoan h3{
    font-size: 30px;
}
.info_user_forgotpass{
    display: flex;
    gap:10px;
    align-items: center;
}

.form-box_forgotpass {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
}
.form-box_forgotpass h3 {
    font-size: 30px;
    text-align: center;
}
.input_group_forgotpass {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.input_info_forgotpass{
    width: 100%;
    text-align: start;
    border: 1.2px solid black;
    font-size: 16px;
    color: black;
    padding: 10px 15px;
    outline: none;
    border-radius: 10px;
}

.input_group_forgotpass label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #4a4a4a;
    padding: 0 10px;
    pointer-events: none;
    transition: .5s;
}

.input_group_forgotpass input:focus~label,
.input_group_forgotpass input:valid~label {
    top: 0;
    font-size: 14px;
    font-weight: 600;
    background: white;
}

.submit_send{
    width: 60%;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 1px 1px 2px rgb(107, 103, 103);
}
.submit_send:hover{
    color: black;
    
}