.WalletDetailModal_Container_login{
    width: 30%;
    display: flex;
    flex-direction: column;
    background: rgb(12, 12, 12);
    gap: 10px;
    padding: 10px 20px;
    border-left: 2px solid white;
    border-bottom: 1px solid white;
    border-radius: 10px;
    position: fixed;
    top: 45%;
    left: 85%;
    transform: translate(-50%, -50%);
    z-index: 1000;

}
.info_wallet_container_login {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 10px;
}
.avatar_user_login{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: cover;
    padding: 2px;
    background: white;
    margin: 0;
}
.logo_wallet_user_login{
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
   border-radius: 100%;
   margin-left: 28px;
   margin-top: 33px;
   padding: 1.5px;
   background: white;
   
}
.icon_close_wallet_detail_login{
   font-size: 30px;
   margin-left: auto;
   color: white;

}

.copy_info_user_login{
    display: flex;
    align-items: center;
    gap: 10px;
}
.copy_info_user_login h2 {
    font-size: 16px;
    color: white;
}
.text_info_wallet_user_login{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.text_info_wallet_user_login p{
    font-size: 14px;
    color: white;
}
.icon_wallet_detail_style_login{
    color: rgb(255, 255, 255);
    font-size: 20px;
}




.action_wallet_detail_con_login{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px 10px;

}
.action_wallet_detail_con_login a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    display:flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    font-weight: 500;
    color: white;
}
.action_wallet_detail_con_login button{
    width: 33.33%;
   padding: 5px;
   margin: 0;
   border-radius: 5px;
   background: rgb(0, 0, 0);
   border: 1px solid rgb(66, 65, 65);
 
}

.action_wallet_detail_con_login button:hover{
     border: 1px solid rgb(125, 124, 124);
}

.menu_detail_wallet_login{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
}
.item_detail_wallet_login{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.item_detail_wallet_login h3{
     font-size: 16px;
    font-weight: 500;   
}
.item_detail_wallet_out_login h3{
    font-size: 14px;
    font-weight: 700;
    color: rgb(181, 181, 181);
}
.content_item_menu_login {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.content_item_menu_login p{
    font-size: 12px;
    font-weight: 500;
    color: rgb(128, 128, 128);
}
.content_item_menu_login h3{
    font-size: 16px;
    font-weight: 500;
}
.icon_item_menu_login {
    margin: auto 0;
    font-size: 20px;
    color: white;
}
.icon_dropdown_item_menu_login{
  margin-left: auto;
  font-size: 20px;
  color: white;
}

.item_detail_wallet_out_login{
    display: flex;
    gap: 5px;
    padding: 10px 0;
    border-top: 1px solid rgb(117, 115, 115);
}
