.header {
  width: 100%;
  height: auto; /* Chiều cao mặc định cho desktop */
 padding: 50px 50px 20px 50px; 
  background: rgb(0, 0, 0);
}

.header-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.left_content_header {
  width: 50%; /* Chiếm 50% chiều rộng trên desktop */
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.content1_header p {
  font-family: "Inter", Sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: white;
}

.content2_header p {
  color: white;
  font-family: "Outfit", Sans-serif;
  font-size: 50px; /* Kích thước chữ lớn trên desktop */
  font-weight: 800;
  line-height: 1.2em;
  text-align: center;
}

.gradient-text {
  background: linear-gradient(45deg, #e30b86, #0974ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.content3_header p {
  text-align: center;
  color: white;
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8em;
}

.bold-text {
  font-weight: 700;
  font-style: italic;
}


.right_content_header {
  width: 40%; /* Chiếm 40% chiều rộng trên desktop */
  margin: auto;
}

.right_content_header img {
  width: 90%;
  height: auto;
  display: flex;
}


@media screen and (max-width: 992px) {
    .header {
    height: auto; /* Giảm chiều cao cho tablet */
    padding: 20px;
    
  }

  .left_content_header,
  .right_content_header {
    width: 100%; /* Đặt chiều rộng 100% */
  }
  .left_content_header {
    padding: 40px;
  }
  .right_content_header{
    margin-bottom: 10px;
  }
    .header-content {
    flex-direction: column;
    gap: 2rem;
  } 
  .header {
    height: auto;
    padding: 30px;
  }

  .content1_header p{
    font-size: 20px;
  }
  .content2_header p {
    font-size: 55px; 
  }

  .content3_header p {
    font-size: 18px; 
  }

  .right_content_header img {
  width: 70%;
  height: auto;
  background-size: cover;
  display: flex;
  margin: auto;
  }
 

}


@media screen and (max-width: 576px) { /* Kích thước cho điện thoại nhỏ */
 .header {
    height: auto; /* Giảm chiều cao cho tablet */
    padding: 20px;
    
  }

  .left_content_header,
  .right_content_header {
    width: 100%; /* Đặt chiều rộng 100% */
  }
  .left_content_header {
    padding: 40px;
  }
  .right_content_header{
    margin-bottom: 10px;
  }
    .header-content {
    flex-direction: column;
    gap: .5rem;
  } 
  .header {
    height: auto;
    padding: 10px;
  }

  .content1_header p{
    font-size: 15px;
  }
  .content2_header p {
    font-size: 40px; 
  }

  .content3_header p {
    font-size: 15px; 
  }

  .right_content_header img {
  width: 70%;
  height: auto;
  background-size: cover;
  display: flex;
  margin: auto;
  }
}




@media screen and (max-width: 478px) { /* Kích thước cho điện thoại nhỏ */
 .header {
    height: auto; /* Giảm chiều cao cho tablet */
    padding: 20px;
    
  }

  .left_content_header,
  .right_content_header {
    width: 100%; /* Đặt chiều rộng 100% */
  }
  .left_content_header {
    padding: 30px;
  }
  .right_content_header{
    margin-bottom: 10px;
  }
    .header-content {
    flex-direction: column;
    gap: .5rem;
  } 
  .header {
    height: auto;
    padding: 10px;
  }

  .content1_header p{
    font-size: 12px;
  }
  .content2_header p {
    font-size: 30px; 
  }

  .content3_header p {
    font-size: 12px; 
  }

  .right_content_header img {
  width: 70%;
  height: auto;
  background-size: cover;
  display: flex;
  margin: auto;
  }
}
