.nft_detaile_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    // background: black;
    .nft_detail_page_container1{
        background: black;
        padding:10px 20px;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 10px;
        .left_detail_page_con1{
            grid-column: span 5;

            .left_detail_page_con1_main{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .image_nft_detail_con1{
                    color: white;
                    .heart_nft_img{
                        padding: 10px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        background-color: #2b2b36;
                        display: flex;
                        justify-content: space-between;
                        .right_heart_nft_img{
                            display: flex;
                            gap: 10px;
                        }
                    }
                    img{
                        width: 100%;
                        background-size: cover;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    .item_img_detail_con1{
                        display: grid;
                        grid-template-columns: repeat(4,1fr);
                        gap: 10px;
                        margin-top: 5px;
                        img{
                            grid-column: span 1;
                            border-radius: 10px;
                        }
                    }
                }
                .description_nft_con1{
                    background: black;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                     box-shadow:
                    2px 2px 2px rgba(0, 0, 0, 0.2), 
                    -2px -2px 2px rgba(255, 255, 255, 0.2), 
                    -2px 2px 2px rgba(0, 0, 0, 0.2),  
                    2px 2px 2px rgba(255, 255, 255, 0.2);
                    .title_con1{
                        background-color: #2b2b36;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        padding: 10px 20px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        color: white;
                        .icon_RiBarChartHorizontalFill{
                            font-size: 20px;
                            color: white;
                        }
                        p{
                            font-size: 16px;
                            font-weight: 700
                        };
                    }
                    .by_user_create_nft_con1{
                        padding: 20px;
                        p{
                            color: gray;
                            font-weight: 500;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            font-weight: 700;
                            :hover{
                                color: gray;
                            }
                        }
                        a:hover{
                                color: gray;
                            }


                    }
                    .about_nft_detail_con1{
                        display: flex;
                        flex-direction: column;
                        .title_about_nft_detail_con1{
                            background-color: #2b2b36;
                            display: flex;
                            align-items: center;
                            padding: 10px 20px;
                            color: white;
                            justify-content: space-between;
                             
                          
                            .title_about_con1_left{
                                display: flex;
                                gap: 5px;
                                align-items: center;
                                p{
                                    font-size: 16px;
                                    font-weight: 700;
                                    
                                }
                            }
                            .open_close_about_left_con1{

                                .icon_open_close_nft_page{
                                font-size: 30px;
                                color: white;
                                transition: transform 0.3s ease; 
                                
                                &.open {
                                    transform: rotate(180deg); 
                                }
                            }
                        }
                        }
                        .des_nft_detail_con1{
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            padding: 20px;
                            p{
                                font-size: 14px;
                                line-height: 20px;
                                color: white;
                            }
                            .hype_link_connect_con1{
                                display: flex;
                                gap: 10px;
                                color: white;
                                align-items: center;
                                padding-bottom: 10px;
                                .item_link_connect_con1{
                                     background-color: #2b2b36;
                                    border-radius: 10px;
                                    padding: 5px 20px;
                                    .icon_link_hype{
                                        font-size: 25px;
                                    }
                                }
                                .item_link_connect_con1:hover{
                                    background-color: #393949;
                                }
                            }

                        }
                    
                    }
                    .detail_nft_con1{
                        display: flex;
                        flex-direction: column;
                        
                        .title_detail_con1{
                            background-color: #2b2b36;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 5px;
                            padding: 10px 20px;
                            color: white;

                            &.closed {
                             
                            }
                            &:not(.closed) {
                              
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                            }

                           .title_detail{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                .icon_BiSolidCommentDetail{
                                    font-size: 20px;
                                    color: white;
                                }
                                p{
                                    font-size: 16px;
                                    font-weight: 700;

                                }
                            
                           }
                            .open_close_detail_left_con1{

                                .icon_open_close_nft_page{
                                font-size: 30px;
                                color: white;
                                transition: transform 0.3s ease; 
                                
                                &.open {
                                    transform: rotate(180deg); 
                                }
                            }
                        }
                    }
                        .content_detail_Con1{
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            padding: 20px;
                            color: white;
                            .item_content_con1{
                                display: flex;
                                justify-content: space-between;
                                p{
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: white;
                                }
                                a{
                                    text-decoration: none;
                                    color: rgb(60, 60, 240);
                                    font-size: 16px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right_detail_page_con1{
            grid-column: span 7;
            padding: 10px;
            .right_detail_page_con1_main{
                width: 100%;
                display: flex;
                flex-direction: column;
                .info_nft_right_con1{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .action_con1{
                        display: flex;
                        padding: 10px 20px;
                        justify-content: space-between;
                        align-items: center;

                        a{
                            text-decoration: none;
                            font-size: 18px;
                            color: rgb(133, 133, 237);
                            font-weight: 600;
                        }
                        .action__con1{
                            display: flex;
                            gap: 15px;
                            font-size: 25px;
                            color: white;
                            align-items: center;
                        }
                    }
                    .name_nft_con1{
                        display: flex;
                        flex-direction: column;
                        padding: 0 20px;
                        color: white;
                        h3{
                            font-size: 20px;
                        }
                        p{
                            font-size: 18px;
                            font-weight: 600;
                        }
                        a{
                            font-size: 20px;
                            text-decoration: none;
                            font-weight: 600;
                            color: rgb(133, 133, 237);

                        }
                    }
                    .view_nft_con1{
                        display: flex;
                        gap: 20px;
                        padding: 10px 20px;
                        align-items: center;
                        color: white;
                        .view_nft__con1{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                                p{
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: white;
                                }
                        }
                        .favorite_nft__con1{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                                p{
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: white;
                                }
                        }
                    }
                }
                .sale_nft_right_con1{
                    padding-bottom: 20px;
                    border-radius: 10px;
                     box-shadow:
                    2px 2px 2px rgba(0, 0, 0, 0.2), 
                    -2px -2px 2px rgba(255, 255, 255, 0.2), 
                    -2px 2px 2px rgba(0, 0, 0, 0.2),  
                    2px 2px 2px rgba(255, 255, 255, 0.2);
                    .time_sale__con1{
                        display: flex;
                        //  background-color: #2b2b36;
                        border-bottom: 1px solid rgb(77, 77, 77);
                        flex-direction: column;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        color: white;
                        padding:20px;
                        gap: 10px;
                         p{
                                font-size: 16px;
                                font-weight: 600;
                                color: white;
                            }
                        .time_sale_on__con1{
                            display: flex;
                            gap: 40px;
                           
                            .time_con{
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                p{
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                                .value_time_con{
                                    font-size: 18px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .price__con1{
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        color: white;
                        gap: 10px;
                        p{
                            font-size: 14px;
                            font-weight: 700;
                            color: gray;
                        }
                        h4{
                            font-size: 20px;
                            color: white;
                            font-weight: 700;
                           
                        }
                        span{
                            font-size: 14px;
                            font-weight: 700;
                            color: gray;
                        }
                    }

                
                    .buy__con1{
                        display: grid;
                        grid-template-columns: repeat(4,1fr);
                        gap: 20px;
                        padding: 0 20px;

                        .btn__buy__con1{
                            grid-column: span 2;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 40px;
                            .btn_buy{
                                width: 80%;
                                height: 100%;
                                color: white;
                                background: rgb(67, 80, 255);
                                margin: 0;
                                padding: 0;
                                border-radius: 0;
                                font-size: 13px;
                                border-right: 1px solid rgb(13, 13, 69);
                                border-top-left-radius: 10px;
                                border-bottom-left-radius: 10px;
                            }
                            .btn_buy:hover{
                                background: rgb(57, 67, 215);
                            }
                            .btn_add_cart{
                                width: 20%;
                                background: rgb(67, 80, 255);
                                color: white;
                                margin: 0;
                                padding: 0;
                                border-radius: 0;
                                text-align: center;
                                height: 100%;
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;

                                .icon_cart_btn{
                                    font-size: 20px;
                                text-align: center;
                                }
                            }
                            .btn_add_cart:hover{
                                background: rgb(57, 67, 215);
                            }
                           
                        }
                        .btn__make_offer__con1{
                            grid-column: span 2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;
                            .btn_make_offer{
                                color: white;
                                width: 100%;
                                background-color: #2b2b36;
                                border-radius: 10px;
                                margin: 0;
                                font-size: 14px;
                            }
                        }
                    }
                }
                .price_history_right_con1{
                    border-radius: 10px;
                     box-shadow:
                    2px 2px 2px rgba(0, 0, 0, 0.2), 
                    -2px -2px 2px rgba(255, 255, 255, 0.2), 
                    -2px 2px 2px rgba(0, 0, 0, 0.2),  
                    2px 2px 2px rgba(255, 255, 255, 0.2);
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    .title_price_history__con1{
                       background-color: #2b2b36;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 5px;
                        padding: 10px 20px;
                        color: white;
                        &.closed {
                                border-radius: 10px;
                            }
                            &:not(.closed) {
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }

                        .title_price__con{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                             
                        }
                        p{
                            font-size: 16px;
                            font-weight: 700;
                            color: white;
                        }
                       
                        .open_close_price_history_right_con1{

                                .icon_open_close_nft_page{
                                font-size: 30px;
                                color: white;
                                transition: transform 0.3s ease; 
                                
                                &.open {
                                    transform: rotate(180deg); 
                                }
                            }
                        }
                    }
                    .chart_price_history__con1{
                        padding: 20px;
                        height: 100px;
                        color: white;
                        p{
                            color: white;
                        }
                    }
                }
                .listings_right_con1{
                    border-radius: 10px;
                     box-shadow:
                    2px 2px 2px rgba(0, 0, 0, 0.2), 
                    -2px -2px 2px rgba(255, 255, 255, 0.2), 
                    -2px 2px 2px rgba(0, 0, 0, 0.2),  
                    2px 2px 2px rgba(255, 255, 255, 0.2);
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    color: white;
                    .title_listing__con1{
                        background-color: #2b2b36;
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;
                        color: white;
                        justify-content: space-between;

                         &.closed {
                                border-radius: 10px;
                            }
                            &:not(.closed) {
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }

                            .title__con{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                p{
                                    font-size: 16px;
                                    font-weight: 700;
                                }
                            }
                            .open_close_listing_right_con1{

                                .icon_open_close_nft_page{
                                font-size: 30px;
                                color: white;
                                transition: transform 0.3s ease; 
                                
                                &.open {
                                    transform: rotate(180deg); 
                                }
                            }
                        }
                    }
                       
              
                    .content_listing_table__con1{
                        display: flex;
                        flex-direction: column;
                        padding: 20px;

                        .title_table__con1{
                            display: grid;
                            grid-template-columns: repeat(12, 1fr);
                            gap: 10px;
                            padding: 10px 0;
                            p{
                                font-size: 14px;
                                font-weight: 500;
                                color: grey;
                            }
                            .price_list_table__con1{
                                grid-column: span 3;
                            }
                            .quantity_table__con1{
                                grid-column: span 2;
                            }
                            .expiration_table__con1{
                                grid-column: span 3;
                            }
                            .from_table__con1 {
                                grid-column: span 2;
                            }
                            .action_table__con1 {
                                grid-column: span 2;
                            }
                        }
                        .content_table__con1{
                            display: grid;
                            grid-template-columns: repeat(12, 1fr);
                            gap: 10px;
                            padding: 10px 0;
                            border-top: 1px solid gray;
                            align-items: center;
                            p{
                                font-size: 13px;
                                color: white;
                            }
                            a{
                                text-decoration: none;
                                font-size: 13px;
                            }
                            .price_list_table__con1{
                                grid-column: span 3;
                                display: flex;
                                flex-direction: column;
                                gap: 3px;
                                .usd_price_table__con1{
                                    font-size: 10px;
                                    font-weight: 500;
                                    color: grey;
                                }
                            }
                            .quantity_table__con1{
                                grid-column: span 2;
                            }
                            .expiration_table__con1{
                                grid-column: span 3;
                            }
                            .from_table__con1 {
                                grid-column: span 3;
                            }
                            .action_table__con1 {
                                grid-column: span 1;
                                margin: 0;
                                width: 100%;
                                padding: 5px;
                                font-size: 12px;
                                background: rgb(87, 87, 230);
                                color: white;
                                border-radius: 5px;
                            }
                            .action_table__con1:hover{
                                 background: rgb(62, 62, 162);
                            }
                        }
                    }

                }
                .offers_right_con1{
                    display: flex;
                    margin-top: 20px;
                    flex-direction: column;
                    border-radius: 10px;
                     box-shadow:
                        2px 2px 2px rgba(0, 0, 0, 0.2), 
                        -2px -2px 2px rgba(255, 255, 255, 0.2), 
                        -2px 2px 2px rgba(0, 0, 0, 0.2),  
                        2px 2px 2px rgba(255, 255, 255, 0.2);
                        color: white;
                    .title_right__con1{
                        background-color: #2b2b36;
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;
                        color: white;
                        justify-content: space-between;
                         &.closed {
                                border-radius: 10px;
                            }
                            &:not(.closed) {
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }
                        .title_offer_con{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            p{
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                        .open_close_offer_right_con1{

                                .icon_open_close_nft_page{
                                font-size: 30px;
                                color: white;
                                transition: transform 0.3s ease; 
                                
                                &.open {
                                    transform: rotate(180deg); 
                                }
                            }
                        }
                    }
                    .content_offer_table_con1{
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        .title_content_offer_table__con1{
                            display: grid;
                            grid-template-columns: repeat(12, 1fr);
                            gap: 10px;
                            padding: 10px 0;
                            p{
                                font-size: 14px;
                                font-weight: 500;
                                color: grey;
                            }
                            .price_offer__con1{
                                grid-column: span 3;
                            }
                            .quantity_offer__con1{
                                grid-column: span 2;
                            }
                            .floor_difference_offer__con1{
                                grid-column: span 3;
                            }
                            .exporation_offer__con1 {
                                grid-column: span 2;
                            }
                            .from_offer__con1 {
                                grid-column: span 2;
                            }
                        }
                        .offer_item_value__con1{
                            display: grid;
                            grid-template-columns: repeat(12, 1fr);
                            gap: 10px;
                            padding: 10px 0;
                            border-top: 1px solid gray;
                            align-items: center;
                            p{
                                font-size: 13px;
                                color: white;
                            }
                            a{
                                text-decoration: none;
                                font-size: 13px;
                            }
                            .price_offer__con1{
                                grid-column: span 3;
                                display: flex;
                                flex-direction: column;
                                gap: 3px;
                                .price_usd_value_offer{
                                    font-size: 10px;
                                    font-weight: 500;
                                    color: grey;
                                }
                            }
                            .quantity_offer__con1{
                            grid-column: span 2;
                            }
                            .floor_difference_offer__con1{
                                grid-column: span 3;
                            }
                            .exporation_offer__con1 {
                                grid-column: span 2;
                            }
                            .from_offer__con1 {
                                grid-column: span 2;
                            }
                            }
                        }
                    }
                }

                }
            }
      

    .nft_detail_page_container2 {
  background: black;
  width: 100%;
  padding: 10px 20px;

  .nft_detail_page_con2 {
    background: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow:
      2px 2px 2px rgba(0, 0, 0, 0.2),
      -2px -2px 2px rgba(255, 255, 255, 0.2),
      -2px 2px 2px rgba(0, 0, 0, 0.2),
      2px 2px 2px rgba(255, 255, 255, 0.2);

    .header_con2 {
      width: 100%;
      background-color: #2b2b36;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      color: white;

      &.closed {
        border-radius: 20px; /* For closed state */
      }

      /* For open state */
      &:not(.closed) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      .title_header_con2 {
        display: flex;
        gap: 5px;
        align-items: center;
        p {
          font-size: 18px;
          font-weight: 600;
        }
        .icon_item_activity {
          font-size: 30px;
          font-weight: 700;
        }
      }
      .open_close_con2 {
        .icon_open_close_nft_page {
          font-size: 30px;
          color: white;
          transition: transform 0.3s ease; 
          
          &.open {
            transform: rotate(180deg); 
          }
        }
      }
    }
            .body_con2{
                padding: 10px 0;
                .filter_body_con2{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 10px 20px;
                    border-bottom: 1px solid gray;
                    
                    .title_filter_con2{
                        display: flex;
                        padding: 10px;
                        border-radius: 5px;
                        color: rgb(125, 125, 125);
                        font-weight: 600;
                        background: rgb(42, 42, 42);
                        align-items: center;
                        justify-content: space-between;

                        .icon_dropdown_filter_con2{
                            font-size: 25px;
                        }
                       
                    }
                    .filter_con2{
                        padding: 10px 0;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        .item_filter_con2{
                            display: flex;
                             background: rgb(42, 42, 42);
                            padding: 5px 10px;
                            gap: 5px;
                            align-items: center;
                            border-radius: 5px;
                            color: white;
                        }
                        .clear_all{
                            color: rgb(196, 69, 69);
                            font-weight: 500;
                        }
                    }
                }
                .content_con2{
                    background: black;
                    padding: 0 20px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    .title_item_activity_con2{
                        display: grid;
                        grid-template-columns: repeat(10,1fr);
                        gap: 20px;
                        padding: 15px 0;
                        p{
                            grid-column: span 2;
                            font-weight: 600;
                            font-size: 18px;
                            color: grey;
                        }
                    }
                    .item_activity_con2{
                        display: grid;
                        grid-template-columns: repeat(10,1fr);
                        gap: 20px;
                        align-items: center;
                        border-top: 1px solid gray;
                        .list_con2{
                            grid-column: span 2;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            padding: 15px 0;
                            .icon_list_con2{
                                color: white;
                            }
                        }
                        a{
                            grid-column: span 2;
                            text-decoration: none;
                            color: rgb(65, 59, 231);
                        }
                        p{
                            grid-column: span 2;
                            font-weight: 500;
                            color: white;
                            align-items: center;
                       
                        }
                    }

                }
            }
        }
    }
    .nft_detail_page_container3 {
  width: 100%;
  background: black;
  padding:10px 20px;

  .nft_detail_page_con3 {
    background: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow:
      2px 2px 2px rgba(0, 0, 0, 0.2),
      -2px -2px 2px rgba(255, 255, 255, 0.2),
      -2px 2px 2px rgba(0, 0, 0, 0.2),
      2px 2px 2px rgba(255, 255, 255, 0.2);

    .header_con3 {
      width: 100%;
      background-color: #2b2b36;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      color: white;

       &.closed {
        border-radius: 20px; /* For closed state */
      }

      /* For open state */
      &:not(.closed) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
        
    
      .title_con3 {
        display: flex;
        gap: 5px;
        align-items: center;
        color: white;

        p {
          font-size: 18px;
          font-weight: 600;
        }

        .icon_nft_detail_page {
          font-size: 30px;
        }
      }

      .open_close_con3 {
        display: flex;
        align-items: center;

        .icon_open_close_nft_page {
          font-size: 30px;
          color: white;
          transition: transform 0.3s ease;
          
          &.open {
            transform: rotate(180deg); 
          }
        }
      }
    }

    .body_container3 {
      width: 100%;
      background: black;
      display: flex;
      overflow-x: auto;
      padding: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .item_nft_con3 {
        flex: 0 0 auto;
        width: 220px; 
        background: white;
        border-radius: 10px;
        margin-right: 20px;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        .detail_nft_con3 {
          display: flex;
          flex-direction: column;
          color: black;

          .info_con3 {
            padding: 10px;

            h3 {
              font-size: 18px;
            }

            h4 {
              font-size: 16px;
            }

            p {
              font-size: 12px;
              font-weight: 500;
              color: grey;
              padding: 6px;
            }
          }

          .btn_buy_cart_con3 {
            display: none;
          }
        }

        &:hover {
          .detail_nft_con3 {
            .info_con3 {
              p {
                display: none;
              }
            }

            .btn_buy_cart_con3 {
              display: grid;
              grid-template-columns: repeat(4, 1fr);

              .buy_con3 {
                padding: 6px;
                grid-column: span 3;
                background: #2b2b36;
                border-bottom-left-radius: 10px;
                text-align: center;
                color: white;
                font-weight: 600;
                font-size: 12px;
                border-right: 1px solid rgb(167, 167, 167);
              }

              .buy_con3:hover {
                background: red;
              }

              .cart_con3 {
                padding: 6px;
                grid-column: span 1;
                background: #2b2b36;
                border-bottom-right-radius: 10px;
                text-align: center;
                color: white;
                font-size: 12px;
                font-weight: 600;
              }

              .cart_con3:hover {
                background: blue;
              }
            }
          }
        }
      }
    }

    .body_container3::-webkit-scrollbar {
      height: 8px; 
    }

    .body_container3::-webkit-scrollbar-track {
      background: #2b2b36; 
      border-radius: 10px; 
    }

    .body_container3::-webkit-scrollbar-thumb {
      background: #323232;
      border-radius: 10px; 
    }

    .body_container3::-webkit-scrollbar-thumb:hover {
      background: #1c1c1c; 
    }

    /* Scrollbar for Firefox */
    .body_container3 {
      scrollbar-width: thin; 
      scrollbar-color: #777 #2b2b36; 
    }
  }
}

}