.home_dashboard_container {
    width: 100%;
    padding: 20px;
    background: black;
}

.body_home_dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sales_summary_home_dashboard {
    background: #21222D;
    padding: 30px;
    border-radius: 20px;
}

.sales_summary_home_dashboard h3 {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.sales_summary_home_dashboard p {
    font-size: 16px;
    font-weight: 600;
    color: rgb(129, 129, 129);
}

.sales_summary_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.sales_summary_group {
    grid-column: span 3;
    background: #171821;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.icon_sale_summary {
    font-size: 30px;
}

.sales_summary_group h3 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}

.sales_summary_group h4 {
    font-size: 18px;
    font-weight: 650;
}

.sales_summary_group p {
    font-size: 12px;
    font-weight: 600;
}

.chart_body_home_dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.chart_level_home_dashboard {
    background: #21222D;
    grid-column: span 4;
    border-radius: 10px;
    padding: 20px;
}

.title_chart_con_db p {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.chart_level_con {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.BarChart {
    width: 100%;
    height: 100%;
}

.chart_top_products_home_dashboard {
    grid-column: span 8;
    border-radius: 10px;
    background: #21222D;
    padding: 20px;
}

.chart_top_product_con {
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
}

.item_chart_top_product_main {
    display: grid;
    padding: 10px 0;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.stt {
    grid-column: span 1;
}

.popularity,
.name {
    grid-column: span 4;
}

.sale {
    grid-column: span 3;
}

.item_chart_top_product_main p {
    font-size: 20px;
    color: gold;
    font-weight: 600;
}

.item_chart_top_product {
    display: grid;
    padding: 10px 0;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    color: white;
}

.sale {
    grid-column: span 2;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(228, 24, 156);
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
}

.chart_customer_fulfillment_home_dashboard {
    grid-column: span 6;
    background: #21222D;
    padding: 20px;
    border-radius: 10px;
}

.title_chart_con_db p {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.chart_customer_fulfillment_con {
    height: 100px;
    margin-top: 20px;
    color: white;
}

.chart_earnings_home_dashboard {
    grid-column: span 6;
    background: #21222D;
    padding: 20px;
    border-radius: 10px;
}

.title_trending_now_con p,
.title_chart_con_db {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.chart_visitor_insights_con,
.chart_earnings_con {
    height: 100px;
    margin-top: 20px;
    color: white;
}

.chart_visitor_insights_home_dashboard {
    grid-column: span 12;
    background: #21222D;
    padding: 20px;
    border-radius: 10px;
}

.trending_now_body_home_dashboard {
    grid-column: span 12;
    background: #21222D;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.title_trending_now_con {
    display: flex;
    justify-content: space-between;
}

.pre_next {
    display: flex;
    gap: 5px;
}

.next,
.pre {
    font-size: 30px;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.next:hover,
.pre:hover {
    color: white;
}

.content_trending_now_con {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.trending_now_group_db {
    grid-column: span 3;
    background: #171821;
    border-radius: 20px;
    box-sizing: border-box;
}

.trending_now_group_db img {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.detail_trending_now_group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.detail_trending_now_group h3 {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.detail_value {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    align-items: center;
}

.item_con {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.item_con p {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.all_nft_home_dashboard {
    grid-column: span 12;
    background: #21222D;
    padding: 20px;
    border-radius: 10px;
}

.title_search_nft_con {
    display: flex;
    justify-content: space-between;
}

.icon_search_all_nft_home_dashboard {
    color: black;
    position: absolute;
    font-size: 20px;
    margin-left: 10px;
}

.title_search_nft_con p {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.search_nft_ccon {
    display: flex;
    align-items: center;
}

.search_nft_ccon input {
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.detail_table_nft_con {
    margin-top: 20px;
    padding: 0 20px;
}

.stt_nft {
    grid-column: span 1;
}

.collection_nft {
    grid-column: span 3;
}

.image_nft {
    grid-column: span 1;
    margin: 0;
    padding: 0;
    width: 40px; 
    height: 40px;
    border-radius: 5px;
}

.name_nft {
    grid-column: span 3;
}

.floor_price_nft {
    grid-column: span 2;
}

.volume_nft_nft {
    grid-column: span 1;
}

.view_nft {
    grid-column: span 1;
}

.item_nft2,
.item_nft1 {
    display: grid;
    border-top: 1px solid rgb(56, 56, 56);
    grid-template-columns: repeat(12, 1fr);
    padding: 10px 0;
    gap: 10px;
    color: white;
}

.item_nft2 {
    align-items: center;
}

.pagination_all_nft_con {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 10px 30px;
}

.pre_next_page {
    display: flex;
    gap: 5px;
}

.pre,
.next {
    font-size: 30px;
    cursor: pointer;
}

.pre_next_page p {
    font-size: 20px;
    font-weight: 600;
}
