.home_dashboard_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.navbar_home_dashboard{
    background: orange;
    display: flex;
}
.announcement_home_dashboard,
.feature_user_home_dashboard,
.search_input_home_dashboard{
    display: flex;
}

.search_input_home_dashboard input{
    padding: 0;
    margin: 0;
    border: 1px solid black;
}
.info_user_home_dashboard img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.sales_summary_home_dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: palegoldenrod;
}
.sales_summary_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}
.sales_summary_group{
    grid-column: span 3;
    background: gray;
}

.chart_body_home_dashboard{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}
.chart_level_home_dashboard{
    grid-column: span 4;
    background: palevioletred;
}
.chart_top_products_home_dashboard{
    grid-column: span 8;
    background: palegreen;
}
.chart_earnings_home_dashboard,
.chart_customer_fulfillment_home_dashboard{
    grid-column: span 6;
    background: fuchsia;
}

.chart_visitor_insights_home_dashboard{
    grid-column: span 12;
    background: gray;
}

.trending_now_body_home_dashboard{
    display: flex;
    flex-direction: column;

}
.content_trending_now_con{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}
.trending_now_group_db{
    grid-column: span 4;
    background: green;
}

.customer_home_dashboard{
    display: flex;
    flex-direction: column;
}
.title_search_customer_con{
    display: flex;
}
.search_customer_con{
    display: flex;
}

.detail_table_customer_con{
    background: orange;
}

.pagination_customer_detail_con{
    display: flex;
    background: goldenrod;
}