.subsubscription_parent_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.subsubscription_parent {
    width: 90%;
    display: flex;
    padding: 40px;
    flex-direction: column; 
    gap: 50px;
    border-radius: 20px;
    border: 1px solid rgb(37, 37, 37);
}
.explore_all_hot_collection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_sub {
    font-size: 30px;
    font-weight: 800;
    font-family: "Outfit", Sans-serif;
    background: linear-gradient(45deg, #e30b86, #0974ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.btn_explore_all_collection{
    margin: 0;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    background: transparent;
}
.btn_explore_all_collection .link_to_collection {
    color: white;
    text-decoration: none;
        font-size: 12px;
    font-weight: 700;
}
.btn_explore_all_collection:hover{
    background: linear-gradient(45deg, #e30b86, #0974ff);
     border: 2px solid black;
}



.subscription-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
}
.subscription_con{
    grid-column: span 3;
    background: rgb(23, 22, 22);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(42, 42, 42);
}
.bg_plan{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.detail_plan_card{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.detail_plan_card p{
    font-size: 12px;
    color: rgb(99, 99, 99);
    font-weight: 400;
}
.detail_plan_card h2{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.detail_plan_grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}
.detail_plan_content{
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.detail_plan_content_item{
    grid-column: span 2;
     display: flex;
    flex-direction: column;
    gap: 5px;
}
.detail_plan_content_item h4,
.detail_plan_content h4{
    font-size: 12px;
    color: rgb(99, 99, 99);
    font-weight: 600;
}
.detail_plan_content_item p,
.detail_plan_content p{
    font-size: 12px;
    color: white;
    font-weight: 700;
}
.detail_plan_content_item p{
    text-align: center;
}
/* 
.subscription_con {
    flex: 0 0 calc(25% - 10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.subscription_con:hover {
    transform: scale(1.05);
}

.plans-grid {
    width: auto;
    display: flex;
    flex-direction: column;
    background: rgb(45, 45, 45);
    border-radius: 10px;
}

.bg_plan {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.detail_plan_card {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px;
    gap: 5px;
}

.detail_plan_card p {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.detail_plan_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 5px;
}

.detail_plan_content {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detail_plan_content h4 {
    font-size: 12px;
    color: gray;
}

.detail_plan_content p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}



@media (max-width: 1030px) {
    .subscription_con {
        flex: 0 0 calc(33.33% - 10px);
    } 
}

@media (max-width: 787px) {
    .subscription_con {
        flex: 0 0 calc(50% - 10px);
    } 
}

@media (max-width: 586px) {
    .subscription_con {
        flex: 0 0 calc(100% - 5px);
    } 
    .title_sub{
        font-size: 20px;
    }
} */
