.footer {
  background-image: url('../../../public/img/hinh2.jpg');
  background-size: cover;
  color: #fff;
  padding: 0 40px 40px 40px;
  width: 100%;
  text-align: left;
}

.container_footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Chia thành 12 cột */
  gap: 2rem;
}

.footer-about-us {
  grid-column: span 3; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo_website{
  display: flex;
  gap:10px;
}
.footer-about-us h3 {
  display: flex;
  font-size: 20px;
  align-items: center; 
  font-family: "Oswald", sans-serif;
}


.footer-about-us .logo {
  width: 30px; 
  height: auto;
  border-radius: 50px; 
  padding: 0;
  margin: 0;
}
.footer-pages {
  grid-column: span 2; 
}

.footer-follow-us {
  grid-column: span 2; 
}

.footer-follow-us ul li a {
   display: flex;
  align-items: center;
  gap: 5px;
}
.footer-company{
  grid-column: span 2;
}

.footer-stay-updated {
  grid-column: span 3; 
}
.footer-stay-updated p{
  margin-bottom: 15px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  color: white;
}

.footer-col p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Oswald", sans-serif;
  color: #cfcdcd;

}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;

}

.footer-col ul li a {
  color: #ffffff;
  margin-left: 5px;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
  font-weight: 400;
  margin: auto 0;
    font-family: "Oswald", sans-serif;
}

.footer-col ul li a:hover {
  color: #9a9a9a;
}

.input-wrapper {
  background: linear-gradient(90deg, #154e75, #65057a); /* Màu gradient cho viền */
  padding: 4px; 
  border-radius: 4px;
}

.footer-input {
  padding: 10px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
   text-align: start;
  background-color: white; 
    font-family: "Oswald", sans-serif;
    outline: none;
}
.footer-input::placeholder{
  color: #3e3d3d;
    font-family: "Oswald", sans-serif;
 
}

.subscribe-btn {
  background-image: url('../../../public/img/hinh1.jpg'); 
  border: none;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease; 
    font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 3px rgb(83, 82, 82);
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.subscribe-btn:hover {
  background-image: url('../../../public/img/hinh1.jpg');
  transform: translateY(-5px); /* Di chuyển chữ lên trên khi hover */
}

.subscribe-btn:hover::after {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}


@media (max-width: 874px) {
  .container_footer {
    grid-template-columns: repeat(6, 1fr); 
  }

  .footer-about-us {
    grid-column: span 6; 
  }

  .footer-pages, .footer-follow-us {
    grid-column: span 2; 
  }

  .footer-stay-updated {
    grid-column: span 6; 
 
  }
  .footer-stay-updated form {
    text-align: center;
  }
  .subscribe-btn {
    width: auto;
    padding: 10px 50px;
   
  }
}

@media (max-width: 430px) {
  .footer{
    padding: 30px;
  }
  .container_footer {
    grid-template-columns: repeat(6, 1fr);  
    gap: 1.5rem;
  }
  .footer-about-us {
    grid-column: span 6;
  }
  .footer-pages {
    grid-column: span 3;
  }
  .footer-follow-us {
    grid-column: span 3;
  }
  .footer-company{
    grid-column: span 3;
  }
  .footer-stay-updated {
    grid-column: span 6;
  }

  .footer-about-us h3 {
    font-size: 18px;
  }
  .footer-col h4 {
    font-size: 14px;
  }
  .footer-input {
    width: 100%;
    margin-bottom: 10px;
  }
}
