
.Advertisement{
    width: 100%;
    height: auto;


}
.Container_Adv{
    width: 90%;
    padding: 0 20px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
}

.text-gradient {
    font-size: 20px;
    font-weight: 600;
  font-family: "Outfit", Sans-serif;
    background: linear-gradient(45deg, #ff0d96, #006eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.Advertisement_container_one {
    width: 50%;
    height: auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Advertisement_container_one ul {

    color: #f82170;
}
.Advertisement_container_one h1{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 30px;
    color: white;
}
.Advertisement_container_one ul {
    padding: 0 40px;
 
}

.Advertisement_container_one ul li{
    font-size: 16px;
    line-height: 26px;
 
}
.Advertisement_containertext{
    display: flex;
    width:100%;
    background-color: #ff0a64;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.Advertisement_containertext_con {
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    text-align: center;
}
.Advertisement_containertext h3{
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.Advertisement_containertext h5 {
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.Advertisement_button{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.btn_explore_create_marketplace{
    background: linear-gradient(45deg, #d1610a, #ff0984);
    padding: 10px 30px;
    border-radius: 10px;
    width: 60%;
    transition: background 0.4s ease, transform 0.4s ease;
}

.btn_explore_create_marketplace:hover {
  background: linear-gradient(45deg, #ff0909, #e30b86); 
  transform: scale(1.05); 
}
.btn_explore_create_marketplace .link_to_create_collection{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
}


.Advertisement_container_two{
width: 50%;
padding: 10px;
}

.Advertisement_con{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;

}


.Advertisement_picture1_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
    background-color: rgba(0, 255, 255, 0.594);
}
.Advertisement_picture2_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 83, 15);
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
}

.Advertisement_container_two h6{
    font-weight: normal;
}

.picture_1_advertisement{
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
}

.Advertisement_picture_container_one{
    border: 2px solid rgba(0, 255, 255, 0.594);
    padding: 10px;
    width: 45%;
    background-size: cover;
    border-radius: 15px;
    transition: transform 0.3s ease; 
}
.Advertisement_picture_container_two:hover,
.Advertisement_picture_container_one:hover{
    transform: translateY(-10px);
}
.Advertisement_picture_container_two{
    border: 2px solid rgb(230, 83, 15);
    padding: 10px;
    width: 45%;
    border-radius: 15px;
    background-size: cover;
     transition: transform 0.3s ease; 

}
.Advertisement_picture_border {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1200px) {
    .Container_Adv{
    width: 100%;

}
}
@media (max-width: 1000px) {
    
    .Advertisement_container_one h1{
    font-size: 26px;
   
}
.Advertisement_container_one {
    width: 60%;
}
.Advertisement_container_two {
    width: 40%;
}
.Advertisement_picture_container_one{
    width: 100%;
}
.Advertisement_picture_container_two {
    display: none;
}

}

@media (max-width: 953px) {
    .Container_Adv{
    width: 100%;
}
    .Advertisement_containertext{
    width:100%;
    padding: 10px 20px;
    gap: 8px;
}

   .Advertisement_button{
   
    padding: 10px 10px;
 
}
}

@media (max-width: 745px) {
 .Container_Adv{
    flex-direction: column;
    gap: 40px;
 }
 .Advertisement_container_one{
    width: 100%;
 }
  .Advertisement_container_two{
    width: 100%;
 
 }
 .Advertisement_con{
    width: 100%;
    display: flex;
    flex-direction: row;
 }
 .Advertisement_picture1_container {
    width: 100%;
 }
 .Advertisement_picture_container_one{
    width: 100%;
 }

 .Advertisement_picture_container_two{
    width: 100%;
 }
.Advertisement_picture2_container{
    width: 100%;
}
 .Advertisement_container_one h1{
    font-size: 25px;
 }
 .Advertisement_picture_container_two {
    display: flex;
}

}