.CreatePage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-page{
    width: 95%;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;  
}

.left-sectionn{
    width: 50%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
}

.left-sectionn h1 {
    color: white;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 20px 0;
}

.options1{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin: 0;
    padding: 0;

}
.option_created {
    background: rgb(34, 34, 34);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    box-shadow: 2px 2px 2px rgb(26, 26, 26);
}
.left_option{
    width: 90%;
}
.right_option{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_arrow{
    font-size: 30px;
    color: white;
}

.icon_arrow:hover{
    color: rgb(85, 85, 85);
}
.lable_created {
    display: flex;
    gap: .5rem;
    margin-bottom: 10px;
  
}
.icon_created{
    margin: auto 0;
    font-size: 26px;
    color: white;
}

.learn-more{
    width: auto;
    text-decoration: none;
    font-size: 20px;
    color: rgb(47, 85, 255);
    font-family: "Oswald", sans-serif;
}
.learn-more:hover{
    color: rgb(66, 66, 66);
}

.lable_created h3 {

    font-size: 26px;
    color: white;
     font-family: "Oswald", sans-serif;
}

.left_option p{
    font-size: 18px;
    color: white;
    line-height: 26px;
    font-weight: 400;
     font-family: "Oswald", sans-serif;
}




.right-sectionn{
    width: 50%;
    padding: 20px;
}
.right-sectionn img {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: background 0.4s ease, transform 0.4s ease;
}
.right-sectionn img:hover{
     transform: scale(1.05);
}

.featured-text {
    position: absolute;
    top: 30px;
    right: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
} 





@media screen and (max-width:992px) {
   
    .logo_created h1{
        font-size: 1.5rem;
    }
    .logo_created img{
        width: 2rem;
        height: 2rem;
    }
    .option_created{
        display: flex;
    }
    
    .left-sectionn{
        padding: 1rem;
    }
    .left_option p {
        display: none;
    }
    .lable_created h3{
        font-size: 14px;
    }
    .right_option{
       margin-left: auto;
    }
    .learn-more{
        font-size: 14px;
    }
}

@media screen and (max-width:675px) {
    .CreatePage{
        padding: 1rem;
    }
    .create-page{
 
    display: flex;
    gap: .5rem;
    height: 100%;
}

.option_created{
    display: flex;
    flex-direction:  row;
    margin: 0 auto;
}

    .left-sectionn{
        padding: 0;
        margin-left: 5px;
        width: 90%;
     
   
    }

    .option_created {
        margin-bottom: 1rem;
    }
    .right-sectionn{
       display: none;
    }
     .logo_created h1{
        font-size: 1rem;
    }
    .logo_created img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .option_created{
        display: flex;
        padding: 15px;
       
    }
    
    .left-sectionn{
        padding: 1rem;
    }
    .left_option p {
        display: none;
    }
    .lable_created h3{
        font-size: 12px;
    }
    .right_option{
       margin-left: auto;
    }
    .learn-more{
        font-size: 14px;
    }
}