.favorited-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #181818;
  }
  
  .empty-state {
    text-align: center;
    color: #ccc;
  }
  
  .empty-icon {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .empty-state p {
    font-size: 18px;
    color: #ccc;
  }
  