.logo-carousel {
    width: 100%;
    overflow: hidden;
    background-color: black;
    filter: grayscale(100%);
}

.carousel-track {
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: scroll 18s linear infinite;
    width: max-content;
}

.carousel-track img {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 2rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.carousel-track img:hover {
    transform: scale(1.1);
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
