.BEPERC20-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  background-color: #121212;
  border-radius: 12px;
  color: #eee;
  max-width: 900px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.BEPERC20-logo img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
}

.BEPERC20-content {
  text-align: center;
  margin-bottom: 30px;
}

.BEPERC20-content h1 {
  font-size: 2.2rem;
  color: #f8f9fa;
  margin-bottom: 15px;
  line-height: 1.2; 
}

.BEPERC20-content p {
  font-size: 1rem;
  color: #bdbdbd;
  line-height: 1.6;
}

.BEPERC20-definition,
.BEPERC20-advantages,
.BEPERC20-creation {
  margin: 20px 0; 
  text-align: left;
}

.BEPERC20-definition h2,
.BEPERC20-advantages h2,
.BEPERC20-creation h2 {
  font-size: 1.8rem;
  color: #00bcd4; 
  margin-bottom: 10px;
}

.BEPERC20-definition ul,
.BEPERC20-advantages ul,
.BEPERC20-creation ol {
  margin-left: 20px;
}

strong {
  color: #00bcd4; 
}

img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .BEPERC20-content h1 {
    font-size: 1.8rem;
  }
}
