.GuideContainer_parent{
   width: 100%;
   display: flex;
   justify-content: center;
}
.GuideContainer{
   width: 90%;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   gap: 20px;
   border: 2px solid rgb(35, 35, 35);
   padding: 30px;
   background-image: url("https://img2.thuthuatphanmem.vn/uploads/2019/01/20/background-den-va-dep_034512388.jpg");
  background-size: cover;
   border-radius: 10px;
}
.left_step_guide{
   width: 25%;
   display: flex;
   flex-direction: column;
   padding: 10px;
   gap: 10px;
}
.left_step_guide h3{
   color: white;
   font-size: 24px;
   font-weight: 800;
}
.left_step_guide p{
   color: rgb(210, 208, 208);
   font-size: 13px;
   font-weight: 500;
   line-height: 20px;
}

.created_nft_left_step_guide{
   width: 100%;
   display: flex;
   justify-content: center;
}
.btn_create_nft_step_guid .link_to_create_nft{
   text-decoration: none;
   font-size: 16px;
   font-weight: 700;
   color: black;
}
.btn_create_nft_step_guid{
   width: 80%;
   margin-top: 10px;
   padding: 10px 30px;
   border-radius: 15px;
   /* background: linear-gradient(45deg, #e30b86, #0974ff); */
   background: white;
   transition: background 0.4s ease, transform 0.4s ease;
}
.btn_create_nft_step_guid:hover {
  /* background: linear-gradient(45deg, #0974ff, #e30b86);  */
  transform: scale(1.05); 
}

.right_step_guide{
   width: 75%;
   display: grid;
   grid-template-columns: repeat(12,1fr);
   gap: 30px;
   background: rgb(244, 241, 241);
   padding: 20px;
   border-radius: 10px;
}

.step_guide_box{
   grid-column:  span 6;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.title_step_guide_box{
   display: flex;
   gap: 10px;
   align-items: center;
}
.title_step_guide_box h3{
   color: black;
   padding: 0;
   font-size: 20px;
   font-weight: 700;
   margin: 0;
}
.icon_step_guide_box{
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
}
.icon_step_guide_box{
  color: black;
   font-size: 26px;
}

.step_guide_box p{
   color: rgb(87, 87, 87);
   font-size: 14px;
   font-weight: 500;
}