 .GuideContainer{
    width: 100%;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
 .STEP_GUIDE{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
 }
 .flip-card1,
 .flip-card2,
 .flip-card3,
 .flip-card4{
    grid-column: span 3;
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.3s ease;
    
 }
 .flip-card1{
    border: 2px solid aqua;
 }
  .flip-card1:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
 }
  .flip_card_con1{
    background: aqua;
    border-radius: 10px;
    padding: 5px;
 }
 .number_step_card1 h3{
    background: aqua;
   }

 .flip-card2{
    border: 2px solid rgb(0, 255, 55);
 }
  .flip-card2:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px rgb(0, 255, 55),
    0 0 25px rgb(0, 255, 55);
 }
  .flip_card_con2{
    background: rgb(0, 255, 55);
    border-radius: 10px;
    padding: 5px;
 }
.number_step_card2 h3{
    background: rgb(0, 255, 55);
   }

 .flip-card3{
    border: 2px solid rgb(255, 153, 0);
 }
  .flip-card3:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px rgb(255, 153, 0),
    0 0 25px rgb(255, 153, 0);
 }
 .flip_card_con3{
    background: rgb(255, 153, 0);
    border-radius: 10px;
    padding: 5px;
 }
.number_step_card3 h3{
    background: rgb(255, 153, 0);
   }


 .flip-card4 {
    border: 2px solid rgb(255, 0, 136);
 }
  .flip-card4:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px rgb(255, 0, 136),
    0 0 25px rgb(255, 0, 136);
 }

  .flip_card_con4{
    background: rgb(255, 0, 136);
    border-radius: 10px;
    padding: 5px;
 }
   .number_step_card4 h3{
    background: rgb(255, 0, 136) ;
   }

.number_step_card1 h3,
.number_step_card2 h3,
.number_step_card3 h3,
  .number_step_card4 h3{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 800;
 }

 .flip_card_con{
    background: black;
    border-radius: 10px;
    padding: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
 }

 .number_step_card1,
 .number_step_card2,
 .number_step_card3,
 .number_step_card4{
    display: flex;
    align-items: center;
    gap: 10px;
}

 .icon_guide_step{
    font-size: 50px;
 }
 .content_step_guide{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .title_content_step{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .content_step_guide h2{
    font-size: 16px;
 }
 .content_step_guide p{
    font-size: 13px;
 }




 @media ( max-width:1094px) {
     .STEP_GUIDE{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
 }
  .flip-card1,
  .flip-card2,
  .flip-card3,
  .flip-card4{
    grid-column: span 6;
 }
 }

 @media(max-width:580px){
     .STEP_GUIDE{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
 }
 .flip-card1,
 .flip-card2,
 .flip-card3,
  .flip-card4{
    grid-column: span 12;
 }
 .flip-card_con1,
 .flip-card_con2,
 .flip-card_con3,
 .flip_card_con4{
    height: 180px;
 }
 .icon_guide_step{
    font-size: 40px;
 }

 .number_step_card1 h3,
 .number_step_card2 h3,
 .number_step_card3 h3,
 .number_step_card4 h3{
    font-size: 16px;
 }
 }