
.trendinglist_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: black;
  padding: 10px;
}

.trendinglist_content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid rgb(51, 51, 51);
}

.trendinglist_content_left {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;


  padding: 10px; /* Thêm khoảng đệm cho phần trái */
}
.trendinglist_content_left h2 {
  font-size: 35px;
  font-weight: 800;
  font-family: "Outfit", Sans-serif;
    background: linear-gradient(45deg, #e30b86, #0974ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.trendinglist_content_left p{
  font-size: 18px;
  font-weight: 500;
  color: white;
  line-height: 28px;
}
.trendinglist_content_left span{
  font-weight: 700;
}

.trendinglist_content_right {
  width: 30%;
  display: flex;
  justify-content: flex-end; /* Căn phải nút */
}
.trendinglist_content_right button a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.trendinglist_content_right button{
  background-color: rgb(75, 73, 73);
}

.trendinglist_body {
  display: flex;

  justify-content: center;
  flex-wrap: wrap; 
}

.trendinglist-col {
  display: flex;
  padding: 20px;
  flex-direction: row; 
  width: calc(33.33% - 1rem); 
  box-sizing: border-box;
  border-bottom: 1px solid rgb(51, 51, 51); 
}

.trendinglist_col_left {
  display: flex;
  align-items: center; 
  gap: 10px;
  width: 80%;
}

.trendinglist_col_left p{
  text-align: center;
  margin-right: 5px;
  color: rgb(90, 90, 90);
  font-size: 12px;
  font-weight: 600;
}
.trendinglist_col_left img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-size: cover;
}

.trendinglist_name_price {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 4px;
}
.trendinglist_name_price h4 {
  color: white;
  font-size: 12px;
}
.trendinglist_name_price p{
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.trendinglist_name_price span{
  color: gray;
}

.trendinglist_col_right {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: end;
  gap: 4px;
  padding: 2px;
}
.trendinglist_col_right p{
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.trendinglist_col_right span{
  color: gray;
}


@media (max-width: 1030px) {
  .trendinglist-col {
    width: calc(50% - 1rem); 
  }
}

@media (max-width: 787px) {
.trendinglist_content{
  display: flex;
  flex-direction: column;
  padding: 0;
}
.trendinglist_content_left,
.trendinglist_content_right{
  width: 90%;
}
.trendinglist_content_left h2{
 font-size: 30px;
}
.trendinglist_content_left p{
  font-size: 13px;
}
.trendinglist_content_right button{
 margin-right: auto;
}
}

@media (max-width: 696px) {
  .trendinglist-col {
    width: 100%; 
  }
  .trendinglist_content_left h2 {
    font-size: 20px;
  }
}
