

  .ct-about-container1{
    display: flex;
    flex-direction: column;
  }
  .ct-about-container{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .ct-about-title{
    padding: 60px 0;
    background: linear-gradient(45deg, #e30b86, #0974ff);
    text-align: center;
    font-size: 50px;
    font-weight: 900;
  }
  .ct-about-description{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 30px 300px;
    color: rgb(114, 114, 114);

  }

  .ct-about-card h3{
    color: white;
  }


.hex-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 20px;
  padding: 0 150px;
}

.hex-column {
  grid-column: span 3;
}

.hex {
  width: 100%;
  height: 260px;
  background-color: #f1f1f1;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.hex-inner {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hex-content {
  text-align: center;
  padding: 10px;
}

.hex-icon {
  font-size: 28px;
  color: #333;
}

h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

p {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}

.hex:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 1);
  transform: scale(1.05); 
}




.ct-about-paragraphs{
  width: 100%;
  display: flex;
  padding: 40px;

}
.left_paragraphs{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.left_paragraphs h3{
  font-size: 50px;
  color: white;
  font-weight: 800;
  padding-left: 10px;
}
.left_paragraphs p{
  font-size: 16px;
  font-weight: 500;
  color: #969696;

}
.right_paragraphs{
  width: 50%;
}

.ct-about-info{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 20px;
  padding: 0 150px;
  margin-top: 20px;
}
.ct-about-card{
  grid-column: span 4;
  background: rgb(20, 20, 20);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.ct-about-card:hover{
  background: rgb(25, 24, 24);
}

.icon_about-info{
  font-size: 30px;
  color: #e30b86;
}






.ct-team-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 60px;
  margin-bottom: 20px;
}
.ct-team-container h2{
  font-size:40px;
  font-weight: 800;
  padding: 30px 0;
  color: white;
  text-align: center;
}

.ct-team-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 60px;
}
.ct-team-card{
  grid-column: span 1;
  background: rgb(17, 17, 17);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  box-shadow:  0 0 2px gray;
}
.ct-team-image{
width: 100%;
padding: 0 30px;
}
.ct-team-image img{
  width: 100%;
  height: 140px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
.ct-team-card h3{
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}
.ct-team-card p{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.ct-social-icons{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.ct-icon{
  font-size: 20px;
  color: rgb(107, 107, 107);
}
.ct-icon:hover{
  color: white;
}

.ct-join-us{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ct-join-us:hover{
  background: #343434;
}


.ct-company{
  width: 100%;
  padding: 50px 20px;
  display: flex;
  gap: 80px;
  justify-content: center;
  filter: grayscale(100%);
}

.image_company{
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
}
.image_company img{
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
}