.sell-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .sell-modal-content {
    background: white;
    margin-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
  
  .sell-modal-header {
    display: flex;
    justify-content: space-between;
  }
  
  .sell-modal-header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: black;
    padding: 10px 30px;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
  }

  .sell-modal-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 30px;
  }
  
  .modal-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .modal-item-image {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: over;
    margin: 0;
    padding: 0;
  }
  
  .modal-item-info {
    display: flex;
    flex-direction: column;
  }
  
  .modal-item-name {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
  
  .modal-item-description {
    margin: 0;
    font-size: 14px;
    color: black;
  }
  
  .modal-section_group{
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .modal-section1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .modal-section2{
    width: 70%;
     display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .modal-section label,  
  .modal-section2 label,
  .modal-section1 label {
    font-size: 14px;
    color: black;
    font-weight: 600;
  }
  
   .modal-section1 label:hover,
    .modal-section2 label:hover,
  .modal-section label:hover {
    color: black;
  }
  .modal-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    color: black;
  }
  
  .modal-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #333;
    color: #fff;
    margin: 0;
  
  }
  
  .modal-price-input, .modal-duration-input {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .modal-summary{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
    background: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 10px;
  }

.modal-summary_buymodal_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-summary_buymodal_box p{
  font-size: 14px;
  color: #333;
}
.modal-summary_buymodal_box h2{
  font-size: 14px;
  color: black;
  font-weight: 700;
}
  
  .modal-actions {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-cancel-btn, .modal-complete-btn {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-style: 14px;
    font-weight: 700;
    cursor: pointer;
  }
  .modal-cancel-btn{
    background: gray;
  }
  .modal-cancel-btn:hover{
    background: rgb(103, 102, 102);
  }
  .modal-complete-btn{
    background: rgb(64, 124, 237);
  }
 .modal-complete-btn:hover{
  background: rgb(53, 102, 195);
 }
  
  .items-available {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
  }
  